<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>anaGo Demo</title>
  <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!-- Bulma Version 0.7.1-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='landing.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <section class="hero is-info is-fullheight">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="./">
              <h1>
                <b class="has-text-white is-size-3">HateSonar</b>
              </h1>
            </a>
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <span class="navbar-item">
                <a class="button is-white is-outlined" href="https://github.com/Hironsan/HateSonar">
                  <span class="icon">
                    <i class="fa fa-book"></i>
                  </span>
                  <span>Documentation</span>
                </a>
              </span>
              <span class="navbar-item">
                <a class="button is-white is-outlined" href="https://github.com/Hironsan/HateSonar">
                  <span class="icon">
                    <i class="fa fa-github"></i>
                  </span>
                  <span>View Source</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div id="root" class="hero-body">
      <div class="container">
        <div class="column is-10 is-offset-1">
          <div class="box">
            <h1 class="title is-5 has-text-black">
              <i class="fas fa-edit"></i> Input</h1>
            <div class="field">
              <p class="control is-expanded">
                <input class="input" type="text" placeholder="Enter English text" maxLength="100" v-model="query">
              </p>
            </div>
          </div>

          <div class="card card-radius">
            <header class="card-header has-background-light card-header-radius">
              <p class="card-header-title">
                <i class="fas fa-check"></i>&nbsp;Result
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>
            </header>
            <div class="card-content">
              <div class="content">
                <h1 class="title is-5 has-text-black">
                  <i class="fas fa-magic"></i> Visual
                </h1>

                <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                  <thead class="has-background-light">
                    <tr>
                      <th>Polarity</th>
                      <th>Polarity confidence</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>[[ result.top_class ]]</td>
                      <td>[[ confidence ]]</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <h1 class="title is-5 has-text-black">
                <i class="fas fa-code"></i> JSON
              </h1>
              <pre class="box">[[ prettyPrint ]]</pre>
            </div>
          </div>
        </div>
      </div>

  </section>
  <script type="text/javascript">
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    var base_url = window.location.href;
    var vm = new Vue({
      el: '#root',
      delimiters: ['[[', ']]'],
      data: {
        query: "At least I'm not a nigger",
        result: {
          "text": "At least I'm not a nigger",
          "top_class": "hate_speech",
          "classes": [{
            "class_name": "hate_speech",
            "confidence": 0.6001793646345871
          }, {
            "class_name": "offensive_language",
            "confidence": 0.399548534507691
          }, {
            "class_name": "neither",
            "confidence": 0.0002721008577219325
          }]
        },
      },
      computed: {
        prettyPrint() {
          let str = JSON.stringify(this.result, undefined, 4);
          return str.trim();
        },

        confidence() {
          for (let i = 0; i < this.result.classes.length; i++) {
            let d = this.result.classes[i];
            if (d.class_name === this.result.top_class) {
              return d.confidence;
            }
          }
        }
      },

      watch: {
        query: function () {
          if (this.query == '') {
            this.result = '';
            return;
          }
          var payload = {
            'text': this.query
          };
          axios.post(`${base_url}api/analyze`, payload).then(response => {
            this.result = response.data;
          })
        }
      }
    })
  </script>
</body>

</html>